**Assignment 01 ML**

In [122]:
# 1.1 Create a list: nums = [3, 5, 7, 8, 12], make another list named ‘cubes’ and append the cubes of the given list ‘nums’ in this list and print it.

nums = [3, 5, 7, 8, 12]
cubes = []
for num in nums:
  cubes.append(num**3)
print(cubes)

[27, 125, 343, 512, 1728]

In [123]:
# 1.2 Create an empty dictionary: dict = {}, add the following data to the dictionary: ‘parrot’: 2, ‘goat’: 4, ‘spider’: 8, ‘crab’: 10 as key value pairs.

dict = {}
dict['parrot'] = 2
dict['goat'] = 4
dict['spider'] = 8
dict['crab'] = 10
print(dict)

{'parrot': 2, 'goat': 4, 'spider': 8, 'crab': 10}

In [124]:
# 1.3 Use the ‘items’ method to loop over the dictionary (dict) and print the animals and their corresponding legs. Sum the legs of each animal, and print the total at the end.

total_legs = 0
for animal, legs in dict.items():
  print(f"{animal} has {legs} legs.")
  total_legs += legs

print(f"\nTotal number of legs: {total_legs}")

parrot has 2 legs.
goat has 4 legs.
spider has 8 legs.
crab has 10 legs.

Total number of legs: 24

In [125]:
# 1.4 Create a tuple: A = (3, 9, 4, [5, 6]), change the value in the list from ‘5’ to ‘8’.

A = (3, 9, 4, [5, 6])
A[3][0] = 8
print(A)

(3, 9, 4, [8, 6])

In [126]:
# 1.5 Delete the tuple A.

del A

In [127]:
# 1.6 Create another tuple: B = (‘a’, ‘p’, ‘p’, ‘l’, ‘e’), print the number of occurrences of ‘p’ in the tuple.

B = ('a', 'p', 'p', 'l', 'e')
print(B.count('p'))

2

In [128]:
# 1.7 Print the index of ‘l’ in the tuple.

B = ('a', 'p', 'p', 'l', 'e')
print(B.index('l'))

3

**Task 02: Numpy**

Use built-in functions of numpy library to complete this task.
List of functions available here (https://numpy.org/doc/1.19/genindex.html)

A =
1 2 3 4
5 6 7 8
9 10 11 12


z = np.array([1, 0, 1])

In [129]:
# 2.1  Convert matrix A into numpy array

import numpy as np

A = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 10, 11, 12]])
print(A)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [130]:
# 2.2  Use slicing to pull out the subarray consisting of the first 2 rows and columns 1 and 2. Store it in b which is a numpy array of shape (2, 2).

b = A[:2, 1:3]
print(b)

[[2 3]
 [6 7]]

In [131]:
# 2.3  Create an empty matrix ‘C’ with the same shape as ‘A’.
C=np.empty_like(A)
print(C)

[[ 2  3  4  5]
 [ 5  6  7  8]
 [10 11 12 13]]

In [132]:
# 2.4  Add the vector z to each column of the matrix ‘A’ with an explicit loop and store it in ‘C’.

import numpy as np
z = np.array([1, 0, 1])

for i in range(A.shape[1]):
  C[:, i] = A[:, i] + z

print(C)

[[ 2  3  4  5]
 [ 5  6  7  8]
 [10 11 12 13]]

In [133]:
# Create the following:
# X = np.array([[1,2],[3,4]])
# Y = np.array([[5,6],[7,8]])
# v = np.array([9,10])

X = np.array([[1,2],[3,4]])
print(X)
Y = np.array([[5,6],[7,8]])
print(Y)
v = np.array([9,10])
print(v)

[[1 2]
 [3 4]]
[[5 6]
 [7 8]]
[ 9 10]

In [134]:
# 2.5 Add and print the matrices X and Y.

import numpy as np
print(np.add(X, Y))

[[ 6  8]
 [10 12]]

In [135]:
# 2.6 Multiply and print the matrices X and Y.

print(np.matmul(X, Y))

[[19 22]
 [43 50]]

In [136]:
# 2.7 Compute and print the element wise square root of matrix Y.

print(np.sqrt(Y))

[[2.23606798 2.44948974]
 [2.64575131 2.82842712]]

In [137]:
# 2.8  Compute and print the dot product of the matrix X and vector v.

print(np.dot(X, v))

[29 67]

In [138]:
# 2.9  Compute and print the sum of each column of X.

print(np.sum(X, axis=0))

[4 6]

**Task 3: Functions and Loops**

In [139]:
# 3.2 Make a list named ‘even_num’ that contains all even numbers up till 12. Create a function ‘mult’ that takes the list ‘even_num’  as an argument and calculates the products of all entries using a for loop.

nums=[i for i in range(0,13)]
even_num = [i for i in nums if i%2==0]

def mult(even_num):
  product = 1
  for num in even_num:
    product *= num
  return product

result = mult(even_num)
print(result)

0

In [140]:
# 3.1 Create a function ‘Compute’ that takes two arguments, distance and time, and use it to calculate velocity.

def Compute(distance, time):

  if time == 0:
    return 0  # Avoid division by zero
  velocity = distance / time
  return velocity


velocity = Compute(100, 5)
print(f"Velocity: {velocity} m/s")

Velocity: 20.0 m/s

**Task 4: Pandas**

Create a Pandas dataframe named ‘pd’ that contains 5 rows and 4 columns, similar to the one given below:
![image.png]()

In [141]:
# 4.1 Create a Pandas dataframe named ‘pd’ that contains 5 rows and 4 columns, similar to the one given below

import pandas as pd

data = {'C1': [1, 2, 3, 5, 5],
        'C2': [6, 7, 5, 4, 8],
        'C3': [7, 9, 8, 6, 5],
        'C4': [7, 5, 2, 8, 8]}

pd = pd.DataFrame(data)
print(pd)

   C1  C2  C3  C4
0   1   6   7   7
1   2   7   9   5
2   3   5   8   2
3   5   4   6   8
4   5   8   5   8

In [142]:
# 4.2 prompt: Print the second column.

print(pd['C2'])

0    6
1    7
2    5
3    4
4    8
Name: C2, dtype: int64

In [145]:
# 4.3 Change the name of the third column from ‘C3’ to ‘B3’

pd = pd.rename(columns={'C3': 'B3'})
print(pd)

   C1  C2  B3  C4
0   1   6   7   7
1   2   7   9   5
2   3   5   8   2
3   5   4   6   8
4   5   8   5   8

In [150]:

# 4.4 add a new column to the dataframe and name it ‘Sum’.

pd.insert(4,"Sum",[0,0,0,0,0])

In [152]:
# 4.5 prompt: Sum the entries of each row and add the result in the column ‘Sum’

pd['Sum'] = pd.sum(axis=1)
print(pd)

   C1  C2  B3  C4  Sum
0   1   6   7   7   21
1   2   7   9   5   23
2   3   5   8   2   18
3   5   4   6   8   23
4   5   8   5   8   26

In [3]:
# 4.6 Read CSV file named ‘hello_sample.csv’ (the file is available in the class Google Drive shared folder) into a Pandas dataframe.
import pandas as pd
df = pd.read_csv('/content/hello_sample.csv')

In [4]:
# 4.7  Print complete dataframe.
print(df)

    Gender  F_Color     B_Month  Weight
0     Male    Black       March      77
1     Male      Red       March      72
2     Male    Black     October      53
3   Female     Blue    February      63
4     Male    black    October       80
5   Female    Black    december      97
6     Male   Orange      August      60
7   Female      Red   September      59
8     Male     Blue        July      60
9     Male     Blue         May      58
10  Female      Red    October       60
11    Male    Black   September      65
12    Male    Green    December      85
13    Male    Black       April      72
14    Male    Green    January       90
15    Male   Yellow   November       90
16    Male    Black      August      54
17    Male    Black     January      82
18    Male  Mustard   December       60
19  Female    Black    October       76
20    Male    Black   February       67
21    Male   Yellow       April      74
22    Male      Red  September       66

In [5]:
# 4.8 Print only bottom 2 records of the dataframe.

print(df.tail(2))

   Gender F_Color     B_Month  Weight
21   Male  Yellow       April      74
22   Male     Red  September       66

In [6]:
# 4.9 Print information about the dataframe.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Gender   23 non-null     object
 1   F_Color  23 non-null     object
 2   B_Month  23 non-null     object
 3   Weight   23 non-null     int64
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes
None

In [7]:
# 4.10 Print shape (rows x columns) of the dataframe.
print(df.shape)

(23, 4)

In [8]:
# 4.11 Sort the data of the dataFrame using column ‘Weight’.

df_sorted = df.sort_values('Weight')
print(df_sorted)

    Gender  F_Color     B_Month  Weight
2     Male    Black     October      53
16    Male    Black      August      54
9     Male     Blue         May      58
7   Female      Red   September      59
18    Male  Mustard   December       60
10  Female      Red    October       60
6     Male   Orange      August      60
8     Male     Blue        July      60
3   Female     Blue    February      63
11    Male    Black   September      65
22    Male      Red  September       66
20    Male    Black   February       67
13    Male    Black       April      72
1     Male      Red       March      72
21    Male   Yellow       April      74
19  Female    Black    October       76
0     Male    Black       March      77
4     Male    black    October       80
17    Male    Black     January      82
12    Male    Green    December      85
14    Male    Green    January       90
15    Male   Yellow   November       90
5   Female    Black    december      97

In [15]:
# 4.12 Use isnull() and dropna() methods of the Pandas dataframe and see if they produce any changes.

# Check for null values
print(df.isnull().sum())

# Drop rows with null values
df_dropped = df.dropna()

# Print the shape of the new dataframe
print(df_dropped.shape)

Gender     0
F_Color    0
B_Month    0
Weight     0
dtype: int64
(23, 4)